<configuration>
    <conversionRule conversionWord="stacktrace"
                    converterClass="net.logstash.logback.stacktrace.ShortenedThrowableConverter"/>
    <appender name="app_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO,WARN</level>
        </filter>
        <file>logs/dice_game.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/dice_game_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>6MB</maxFileSize>
            <totalSizeCap>60MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MMM/dd HH:mm:ss} [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <appender name="app_error_log" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <file>logs/dice_game_error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>logs/dice_game_error_%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>6MB</maxFileSize>
            <totalSizeCap>60MB</totalSizeCap>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy/MMM/dd HH:mm:ss} [HostName] ${HOSTNAME} [%p][%logger{36}-%M:%L] - %msg%n</pattern>
        </encoder>
    </appender>
    <root level="DEBUG">
        <appender-ref ref="app_log"/>
        <appender-ref ref="app_error_log"/>
    </root>
</configuration>